locations#index page
<h1>EventOnly</h1>

<% @locations.each do |current_location| %>
  <%= render 'single_location', location: current_location %>
  <!-- # <div class="location">
  #   <h3><%= current_location.name %></h3>
  #   <h4>City: <%= current_location.city %></h4>
  #   <%= current_location.description %><br />
  #   <%= link_to image_tag(current_location.image, class: "location"), location_path(current_location) %> -->
  <!-- # </div> -->

<p>
  <%= link_to 'New Location', new_location_path %>
</p>

<% end %>
